
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #242424;

}

header {
    background: #1b1b1b;
    color: rgb(73, 73, 73);
    padding: 10px 0;
    text-align: center;
}

.filters {
    text-align: center;
    margin: 50px 0;
}

.filters button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color:  #1b1b1b;
    color:  rgb(73, 73, 73);
    transition: background-color 0.3s;
    width: 150px;
}


.filters button:hover {
    background-color:  #2b2b2b;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 30px;
    justify-content: center; 
    padding-bottom: 30px;
}

.gallery img {
    max-width: 100%; 
    align-self: center; /
}

/*Mobile Devices*/
@media (max-width: 600px) {
    .filters {
        margin: 20px 0;
    }
    
    .filters button {
        width: 100px;
        padding: 8px 16px;
        margin: 0 3px;
    }
    
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-bottom: 20px;
    }
}